# --- Build folders ---
build/
cmake-build-*/

# --- CMake files ---
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# --- Compiled object files ---
*.o
*.obj
*.lo
*.s

# --- Executables ---
*.exe
*.out
*.app

# --- Libraries ---
*.a
*.lib
*.so
*.so.*
*.dylib

# --- Debug / profiling ---
*.pdb
*.idb
*.prof
*.gcda
*.gcno
*.gcov

# --- Logs ---
*.log

# --- IDE / editors ---
.vscode/*
.idea/
*.swp
*.swo

# --- OS files ---
.DS_Store
Thumbs.db

